.flex-container {
    height: 400px;
    display: flex;
    flex-direction: row; /* row | row-reverse | column | column-reverse*/
    flex-wrap: wrap; /* nowrap | wrap | wrap-reverse*/
    justify-content: center; /* flex-start | flex-end | center | space-around | space-between*/
    
}

.flex-element {
    order: 0; /* 0 | -n | n */
    /*flex: 1 100px; /* 0 1 auto */
}

.element-1 {
    /* align-self: flex-start; */
    align-self: center;
}

.element-2 {
    
}

.element-3 {
    /* align-self: center; */
}

.element-4 {
    
}

.element-5 {
    /* align-self: flex-end; */
}